@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b1537;
  color: #e3cfee;
}

/* NavBar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4rem;
  background-color: rgba(43, 21, 55, 0.688);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}

.navbar.with-shadow {
  box-shadow: 1px 14px 32px -10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 14px 32px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 14px 32px -10px rgba(0, 0, 0, 0.25);
}

.logo {
  height: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #e3cfee;
  font-family: "Fira Mono", serif;
  font-size: 13px;
}

.nav-links span {
  color: #d485ff;
}

.button {
  border: 1.5px solid #d485ff;
  background-color: #2b1537;
  color: #d485ff;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  padding: 10px 15px;
}

/* Main */

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  max-width: 70%;
  text-align: justify;
  font-family: "Inter", sans-serif;
  margin-left: -300px;
}

.main h1 {
  color: #e3cfee;
  font-size: 60px;
  font-weight: 800;
}

.main h2,
h5 {
  color: #e3cfeead;
  font-size: 54px;
  font-weight: 700;
}

.main h5 {
  font-size: 17px;
  font-weight: 300;
  max-width: 580px;
  text-align: left;
  margin-top: 17px;
}

.main h5 a {
  color: #d485ff;
}

.main h3 {
  font-family: "Fira Mono", serif;
  color: #d485ff;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 17px;
}

/* Social bar esq */
.social-bar {
  position: fixed;
  bottom: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.social-bar a {
  color: #e3cfeead;
  font-size: 20px;
  transition: color 0.3s;
}

.social-bar a:hover {
  color: #d485ff;
}

.social-bar .line {
  width: 1px;
  height: 80px;
  background-color: #94a3b8;
  margin-top: 10px;
}

/* social bar dir */
.email-bar {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.email-bar a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #94a3b8;
  font-size: 12px;
  font-family: "Fira Mono", serif;
  text-decoration: none;
  transition: color 0.3s;
}

.email-bar a:hover {
  color: #d485ff;
}

.email-bar .line {
  width: 1px;
  height: 80px;
  background-color: #94a3b8;
  margin-top: 10px;
}
